@keyframes infotext-container-show {
  from {
    z-index: 0; }
  to {
    z-index: 9; } }

@keyframes infotext-container-hide {
  from {
    z-index: 9; }
  to {
    z-index: 0; } }

[data-infotext] {
  animation: infotext-container-hide 0.3s ease-in-out;
  animation-fill-mode: forwards;
  cursor: pointer;
  overflow: visible;
  position: relative;
  z-index: 0; }
  [data-infotext]:hover,
  [data-infotext] .infotext-persist,
  [data-infotext] .infotext-inverse {
    animation: infotext-container-show 0.3s ease-in-out;
    animation-fill-mode: forwards;
    z-index: 9; }
  [data-infotext]::before, [data-infotext]::after {
    filter: alpha(opacity=0);
    opacity: 0;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #fff;
    pointer-events: none;
    position: absolute;
    text-align: left;
    z-index: 0; }
  [data-infotext].infotext-inverse::after, [data-infotext].infotext-inverse::before, [data-infotext].infotext-persist::after, [data-infotext].infotext-persist::before, [data-infotext]:focus::after, [data-infotext]:focus::before, [data-infotext]:hover::after, [data-infotext]:hover::before {
    filter: alpha(opacity=80);
    opacity: 0.8;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 9; }
  [data-infotext].infotext-opaque.infotext-inverse::after, [data-infotext].infotext-opaque.infotext-inverse::before, [data-infotext].infotext-opaque.infotext-persist::after, [data-infotext].infotext-opaque.infotext-persist::before, [data-infotext].infotext-opaque:focus::after, [data-infotext].infotext-opaque:focus::before, [data-infotext].infotext-opaque:hover::after, [data-infotext].infotext-opaque:hover::before {
    filter: alpha(opacity=100);
    opacity: 1; }
  [data-infotext].infotext-inverse:hover::after, [data-infotext].infotext-inverse:hover::before {
    filter: alpha(opacity=0);
    opacity: 0; }
  [data-infotext].infotext-alert::before {
    background: #f65;
    color: #fff; }
  [data-infotext].infotext-alert:not(.infotext-bottom)::after {
    border-top-color: #f65; }
  [data-infotext].infotext-alert.infotext-bottom::after {
    border-bottom-color: #f65; }
  [data-infotext].infotext-light::before {
    background: #ddd;
    color: #333; }
  [data-infotext].infotext-light:not(.infotext-bottom)::after {
    border-top-color: #ddd; }
  [data-infotext].infotext-light.infotext-bottom::after {
    border-bottom-color: #ddd; }
  [data-infotext]::before {
    -moz-box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.3) ;
    -webkit-box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.3) ;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.3) ;
    background-color: rgba(30, 30, 30, 0.8);
    border-radius: 3px;
    content: attr(data-infotext);
    font-family: verdana, sans-serif;
    font-size: 13px;
    line-height: 1.2;
    margin: 8px 0 8px -125px;
    min-height: 20px;
    padding: 8px 12px;
    text-decoration: none;
    text-shadow: none;
    white-space: pre-line;
    width: 250px; }
  [data-infotext].infotext-text-large::before {
    font-size: 16px; }
  [data-infotext].infotext-wide::before {
    margin-left: -200px;
    width: 400px; }
  [data-infotext].infotext-narrow::before {
    margin: 8px 0 8px -50px;
    width: 100px; }
  [data-infotext]::after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    content: ' ';
    height: 0;
    line-height: 0;
    margin-left: -8px;
    width: 0; }
  [data-infotext].infotext-slide-up.infotext-inverse:not(.infotext-bottom):hover::after, [data-infotext].infotext-slide-up.infotext-inverse:not(.infotext-bottom):hover::before, [data-infotext].infotext-slide-up:not(.infotext-bottom):not(.infotext-inverse):not(:hover)::after, [data-infotext].infotext-slide-up:not(.infotext-bottom):not(.infotext-inverse):not(:hover)::before {
    bottom: 50%; }
  [data-infotext].infotext-slide-down.infotext-inverse:not(.infotext-bottom):not(:hover)::after, [data-infotext].infotext-slide-down.infotext-inverse:not(.infotext-bottom):not(:hover)::before, [data-infotext].infotext-slide-up.infotext-inverse:not(.infotext-bottom):not(:hover)::after, [data-infotext].infotext-slide-up.infotext-inverse:not(.infotext-bottom):not(:hover)::before, [data-infotext]:not(.infotext-bottom):hover::after, [data-infotext]:not(.infotext-bottom):hover::before, [data-infotext]:not(.infotext-bottom):not(.infotext-slide-down):not(.infotext-slide-up)::after, [data-infotext]:not(.infotext-bottom):not(.infotext-slide-down):not(.infotext-slide-up)::before {
    bottom: 150%; }
  [data-infotext].infotext-slide-down.infotext-inverse:not(.infotext-bottom):hover::after, [data-infotext].infotext-slide-down.infotext-inverse:not(.infotext-bottom):hover::before, [data-infotext].infotext-slide-down:not(.infotext-bottom):not(.infotext-inverse):not(:hover)::after, [data-infotext].infotext-slide-down:not(.infotext-bottom):not(.infotext-inverse):not(:hover)::before {
    bottom: 200%; }
  [data-infotext].infotext-slide-up.infotext-bottom:not(.infotext-inverse):not(:hover)::after, [data-infotext].infotext-slide-up.infotext-bottom:not(.infotext-inverse):not(:hover)::before, [data-infotext].infotext-slide-up.infotext-inverse.infotext-bottom:hover::after, [data-infotext].infotext-slide-up.infotext-inverse.infotext-bottom:hover::before {
    top: 170%; }
  [data-infotext].infotext-bottom::after, [data-infotext].infotext-bottom::before, [data-infotext].infotext-bottom:not(.infotext-slide-down):not(.infotext-slide-up)::after, [data-infotext].infotext-bottom:not(.infotext-slide-down):not(.infotext-slide-up)::before, [data-infotext].infotext-slide-down.infotext-inverse.infotext-bottom:not(:hover)::after, [data-infotext].infotext-slide-down.infotext-inverse.infotext-bottom:not(:hover)::before, [data-infotext].infotext-slide-up.infotext-inverse.infotext-bottom:not(:hover)::after, [data-infotext].infotext-slide-up.infotext-inverse.infotext-bottom:not(:hover)::before {
    top: 120%; }
  [data-infotext].infotext-slide-down.infotext-bottom:not(.infotext-inverse):not(:hover)::after, [data-infotext].infotext-slide-down.infotext-bottom:not(.infotext-inverse):not(:hover)::before, [data-infotext].infotext-slide-down.infotext-inverse.infotext-bottom:hover::after, [data-infotext].infotext-slide-down.infotext-inverse.infotext-bottom:hover::before {
    top: 90%; }
  [data-infotext]:not(.infotext-bottom)::after {
    border-top: 8px solid rgba(30, 30, 30, 0.8); }
  [data-infotext].infotext-bottom::after {
    border-bottom: 8px solid rgba(30, 30, 30, 0.8); }
  [data-infotext].infotext-center::after, [data-infotext].infotext-center::before {
    left: 50%; }
  [data-infotext].infotext-center::after {
    margin-left: 4px; }
  [data-infotext]:not(.infotext-center):not(.infotext-right)::after, [data-infotext]:not(.infotext-center):not(.infotext-right)::before {
    margin-left: 0;
    right: 50%; }
  [data-infotext]:not(.infotext-center):not(.infotext-right)::after {
    margin-right: 20px;
    right: 50%; }
  [data-infotext]:not(.infotext-center):not(.infotext-right).infotext-wide::before {
    margin-left: -320px; }
  [data-infotext]:not(.infotext-center):not(.infotext-right).infotext-narrow::before {
    margin-left: -70px; }
  [data-infotext].infotext-right::after, [data-infotext].infotext-right::before {
    margin-left: -25px;
    right: -200px; }
  [data-infotext].infotext-right::after {
    margin-right: 200px; }
  [data-infotext].infotext-right.infotext-wide::after, [data-infotext].infotext-right.infotext-wide::before {
    margin-left: -40px;
    right: -320px; }
  [data-infotext].infotext-right.infotext-wide::after {
    margin-right: 320px; }
  [data-infotext].infotext-right.infotext-narrow::after, [data-infotext].infotext-right.infotext-narrow::before {
    margin-left: -10px;
    right: -80px; }
  [data-infotext].infotext-right.infotext-narrow::after {
    margin-right: 80px; }
  [data-infotext].infotext-text-center::before {
    text-align: center; }
  [data-infotext].infotext-text-right::before {
    text-align: right; }
